# Unload shell pyenv version
PYENV_VERSION=
QUALTRICS_API_KEY=$QUALTRICS_API_KEY
QUALTRICS_WEBHOOK_SECRET=$QUALTRICS_WEBHOOK_SECRET

echo "|------ Installing python (if needed)"
pyenv install --skip-existing

echo "|------ Installing dependencies"
watch_file poetry.lock
poetry install

echo "|------ Activating virtualenv"
dotenv .env
$(poetry env activate)
echo "  > Activated env: $VIRTUAL_ENV_PROMPT"
