# config files and directories
.vscode/

# environment files and directories
.env
.venv/
.Renviron
.keys/

# python
.python-version
*.__init__.py
*__pycache__/
*.egg-info
*.ipynb*
.coverage

# data files
*.csv
*.rds
*.RData

# document files
docs/
*.docx

# misc
_archive/
logs/
*.http
*.session.sql
*.DS_Store
*tempCodeRunnerFile*
