# config files and directories
.vscode/
.claude/

# environment files and directories
.env
.venv/
.Renviron
.keys/
.uvr/

# python
.python-version
*.__init__.py
*__pycache__/
*.egg-info
*.ipynb*
.pytest_cache/
.coverage

# data files
*.csv
*.rds
*.RData

# document files
docs/
*.docx
*.pdf

# misc
_archive/
logs/
*.http
*.session.sql
*.DS_Store
*tempCodeRunnerFile*

# iCloud conflict copies
* 2.lock
* 2.toml

# exceptions
!analysis/run_synthetic_data/data/import/*.csv
!analysis/run_synthetic_data/data/export/*.csv
/.uvr/library/
